<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Configuración básica de Log4j2 para Apache POI -->
    <!-- Configurada para no interferir con Java Util Logging -->
    
    <Appenders>
        <!-- Console Appender con nivel mínimo para reducir ruido -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[LOG4J2] %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <!-- File Appender para operaciones de Base de Datos -->
        <RollingFile name="DatabaseLog" fileName="logs/database.log" 
                     filePattern="logs/database-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
        <!-- File Appender para Auditoría de cambios -->
        <RollingFile name="AuditoriaLog" fileName="logs/auditoria.log" 
                     filePattern="logs/auditoria-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
        <!-- File Appender para Mantenedor de Productos -->
        <RollingFile name="ProductosLog" fileName="logs/productos.log" 
                     filePattern="logs/productos-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
        <!-- File Appender para Excepciones de la Aplicación -->
        <RollingFile name="ErrorLog" fileName="logs/errors.log" 
                     filePattern="logs/errors-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <!-- Solo capturar ERROR y FATAL -->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
        
        <!-- File Appender para la Aplicación general -->
        <RollingFile name="AppLog" fileName="logs/application.log" 
                     filePattern="logs/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- Logger específico para Apache POI con nivel WARNING para reducir ruido -->
        <Logger name="org.apache.poi" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Logger para operaciones de Base de Datos -->
        <Logger name="cl.vss.cotizador.service" level="INFO" additivity="false">
            <AppenderRef ref="DatabaseLog"/>
            <AppenderRef ref="AppLog"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Logger específico para Auditoría -->
        <Logger name="cl.vss.cotizador.service.AuditoriaDAO" level="INFO" additivity="false">
            <AppenderRef ref="AuditoriaLog"/>
            <AppenderRef ref="AppLog"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Logger específico para Mantenedor de Productos -->
        <Logger name="cl.vss.cotizador.service.ProductoService" level="INFO" additivity="false">
            <AppenderRef ref="ProductosLog"/>
            <AppenderRef ref="DatabaseLog"/>
            <AppenderRef ref="AppLog"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Logger para la aplicación principal -->
        <Logger name="cl.vss.cotizador" level="INFO" additivity="false">
            <AppenderRef ref="AppLog"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <!-- Root logger con nivel ERROR para minimizar interferencia -->
        <Root level="ERROR">
            <AppenderRef ref="ErrorLog"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>